anyio @ file:///Users/ec2-user/croot/anyio_1773134409226/work
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1733332318622/work
argon2-cffi @ file:///Users/ec2-user/croot/argon2-cffi_1766067821168/work
argon2-cffi-bindings @ file:///opt/miniconda3/conda-bld/argon2-cffi-bindings_1757924854525/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1763409923949/work
async-lru @ file:///opt/miniconda3/conda-bld/async-lru_1761121451614/work
attrs @ file:///Users/ec2-user/croot/attrs_1774959626218/work
babel @ file:///opt/miniconda3/conda-bld/babel_1764159365447/work
beautifulsoup4 @ file:///Users/ec2-user/croot/beautifulsoup4-split_1770291773081/work
bleach @ file:///opt/miniconda3/conda-bld/bleach_1764153568527/work
branca @ file:///Users/ec2-user/croot/branca_1767093577730/work
brotlicffi @ file:///opt/miniconda3/conda-bld/brotlicffi_1764961161081/work
certifi @ file:///Users/ec2-user/croot/certifi_1767659143057/work/certifi
cffi @ file:///opt/miniconda3/conda-bld/cffi_1761832773185/work
charset-normalizer @ file:///opt/miniconda3/conda-bld/charset-normalizer_1761744840553/work
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
contourpy @ file:///opt/miniconda3/conda-bld/contourpy_1763643920891/work
cycler @ file:///Users/ec2-user/croot/cycler_1766067932237/work
debugpy @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_debugpy_1769744996/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1756729339227/work
fastjsonschema @ file:///opt/miniconda3/conda-bld/python-fastjsonschema_1763718701479/work
folium @ file:///opt/miniconda3/conda-bld/folium_1758749950057/work
fonttools @ file:///Users/ec2-user/croot/fonttools_1774256497482/work
h11 @ file:///opt/miniconda3/conda-bld/h11_1761931258823/work
html5lib @ file:///Users/ktietz/demo/mc3/conda-bld/html5lib_1629144453894/work
httpcore @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_941yf7p5zt/croot/httpcore_1748526061031/work
httpx @ file:///opt/miniconda3/conda-bld/httpx_1760447187686/work
idna @ file:///opt/miniconda3/conda-bld/idna_1761912005426/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_ipykernel_1770566135/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipython_1774609994/work
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
ipywidgets @ file:///Users/ec2-user/croot/ipywidgets_1771500031379/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_2cnn4kenrm/croot/jinja2_1741710859444/work
joblib @ file:///Users/ec2-user/croot/joblib_1767868079254/work
json5 @ file:///opt/miniconda3/conda-bld/json5_1763718543883/work
jsonschema @ file:///Users/ec2-user/croot/jsonschema_1767955665822/work
jsonschema-specifications @ file:///opt/miniconda3/conda-bld/jsonschema-specifications_1762788416562/work
jupyter @ file:///Users/builder/cbouss/buildout/croot/jupyter_1742577908394/work
jupyter-console @ file:///Users/builder/cbouss/buildout/croot/jupyter_console_1739485173236/work
jupyter-events @ file:///opt/miniconda3/conda-bld/jupyter_events_1765813597536/work
jupyter-lsp @ file:///Users/ec2-user/croot/jupyter-lsp_1769773348719/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_client_1767954655/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_core_1760643864/work
jupyter_server @ file:///Users/ec2-user/croot/jupyter_server_1769613415012/work
jupyter_server_terminals @ file:///Users/ec2-user/croot/jupyter_server_terminals_1770289355605/work
jupyterlab @ file:///Users/ec2-user/croot/jupyterlab_1775126296732/work
jupyterlab_pygments @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_42uijy7nfe/croot/jupyterlab_pygments_1741124161488/work
jupyterlab_server @ file:///Users/ec2-user/croot/jupyterlab_server_1769629824895/work
jupyterlab_widgets @ file:///Users/ec2-user/croot/jupyterlab_widgets_1771492388562/work
kiwisolver @ file:///opt/miniconda3/conda-bld/kiwisolver_1764159432715/work
MarkupSafe @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1f_uj4vxik/croot/markupsafe_1738584045311/work
matplotlib==3.10.8
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1761214490209/work
mistune @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5be80wp982/croot/mistune_1741123981908/work
narwhals @ file:///opt/miniconda3/conda-bld/narwhals_1760003494582/work
nbclient @ file:///Users/ec2-user/croot/nbclient_1771577059398/work
nbconvert @ file:///Users/ec2-user/croot/nbconvert-meta_1772121294333/work
nbformat @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/nbformat_1728586010733/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
notebook @ file:///Users/ec2-user/croot/notebook_1775139370653/work
notebook_shim @ file:///Users/ec2-user/croot/notebook-shim_1769629841542/work
numpy @ file:///Users/ec2-user/croot/numpy_and_numpy_base_1775209338712/work/dist/numpy-2.4.4-cp313-cp313-macosx_12_0_arm64.whl#sha256=7ae4397c424cd5b0119769c87f5a63efb0f1f47a4376d924f834c42325312cde
packaging==26.0
pandas @ file:///Users/ec2-user/croot/pandas_1775480141109/work
pandocfilters @ file:///opt/miniconda3/conda-bld/pandocfilters_1756977615874/work
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1770676243/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pillow @ file:///Users/ec2-user/croot/pillow_1772475246600/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1773199142/work
plotly @ file:///Users/ec2-user/croot/plotly_1773755059777/work
prometheus_client @ file:///Users/ec2-user/croot/prometheus_client_1772733401325/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1756321756983/work
psutil @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_psutil_1769678288/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pycparser @ file:///Users/ec2-user/croot/pycparser_1774959671227/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1774796700044/work
pyparsing @ file:///opt/miniconda3/conda-bld/pyparsing_1763973789929/work
PySocks @ file:///opt/miniconda3/conda-bld/pysocks_1761753010927/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-json-logger @ file:///opt/miniconda3/conda-bld/python-json-logger_1764590095819/work
PyYAML @ file:///opt/miniconda3/conda-bld/pyyaml_1763465492884/work
pyzmq @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pyzmq_1771717073/work
qtconsole @ file:///Users/ec2-user/croot/qtconsole_1771498707563/work
QtPy @ file:///opt/miniconda3/conda-bld/qtpy_1757531017002/work
referencing @ file:///opt/miniconda3/conda-bld/referencing_1762536885350/work
requests @ file:///Users/ec2-user/croot/requests_1775066190620/work
rfc3339_validator @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/rfc3339-validator_1731706731994/work
rfc3986_validator @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/rfc3986-validator_1728586416230/work
rpds-py @ file:///opt/miniconda3/conda-bld/rpds-py_1762366478835/work
scikit-learn @ file:///Users/ec2-user/croot/scikit-learn_1766097934589/work
scipy @ file:///Users/ec2-user/croot/scipy_1773254225573/work/dist/scipy-1.17.1-cp313-cp313-macosx_12_0_arm64.whl#sha256=d8dec42820f675b883d6d0ac73118cc6273dcf3a05f1a80c50a01d3c66f03ccd
seaborn @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_74n8m1zz4r/croot/seaborn_1749110344248/work
Send2Trash @ file:///Users/ec2-user/croot/send2trash_1768170598131/work
setuptools==82.0.1
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
soupsieve @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/soupsieve_1728586120162/work
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
terminado @ file:///Users/ec2-user/croot/terminado_1769591696523/work
threadpoolctl @ file:///opt/miniconda3/conda-bld/threadpoolctl_1764361580435/work
tinycss2 @ file:///Users/builder/cbouss/buildout/croot/tinycss2_1739483860002/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1774358159381/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
typing_extensions @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_dffmcwqo6o/croot/typing_extensions_1756281471323/work
urllib3 @ file:///Users/ec2-user/croot/urllib3_1767810404629/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1770634525285/work
webencodings @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/webencodings_1728586135895/work
websocket-client @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/websocket-client_1728587380721/work
wheel==0.46.3
widgetsnbextension @ file:///opt/miniconda3/conda-bld/widgetsnbextension_1761556739997/work
xyzservices @ file:///opt/miniconda3/conda-bld/xyzservices_1758720201642/work
